body {
    font-family: Arial, sans-serif;
    background-color: #0eb3e6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #26a69a;
    padding: 50px;
    border-radius: 70px;
    box-shadow: 0 0 35px #770000;
    width: 300px;
}

h2 {
    margin-bottom: 20px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 0 5px #770000;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding : 0px;
    border-radius: 32px;
    box-shadow: 0 0 5px #770000;
  }

label {
    
    margin-bottom: 5px;
    box-shadow: 0 0 5px #0bcab7;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 15px #0bcab7;
}

button {
    width: 80px;
    padding: 10px;
    background-color: #0a8364;
    border: none;
    border-radius: 35px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
